# MamaCare Pro AI Platform Credentials
# Duplicate this file as '.env' and fill in your keys

PORT=3000



# Optional: Google Places API Key (If not using OpenStreetMap)
GOOGLE_PLACES_API_KEY=your_google_maps_key_here
